.me {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 25;
  background: #252626;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.6em 0.3em 0.4em;
}

@media only screen and (min-width: 600px) {
  .me {
    padding: 0.4em;
  }
}

.me-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0.25em 0 0;
  width: 100%;
  max-width: 1000px;
}

.title-desc-container,
.blog-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-desc-container p {
  margin: 0;
  color: white;
}

.blog-menu-container a {
  margin-top: 2px;
  color: white;
  text-decoration: none;
}

.title a {
  color: white;
  text-decoration: none;
  margin-left: 0.75em;
}

.title-desc {
  display: none;
}

@media only screen and (min-width: 600px) {
  .title-desc {
    display: inherit;
    color: white;
    padding-left: 0.75em;
    padding-top: 0.2em;
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 800px) {
  .title a {
    margin-left: 0;
  }

  .title-desc {
    padding-left: 1.5em;
    padding-top: 0.3em;
    font-size: 0.8em;
  }
}

/*--------------------------------------------------------------
  # Menu button styling
  --------------------------------------------------------------*/

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  background: transparent;
  border: 0;
  transition: all ease-out 400ms;
}

.menu-toggle:hover,
.menu-toggle:focus {
  text-decoration: underline;
  outline: 0;
}

.menu-toggle-text {
  color: #fff;
}

/*--------------------------------------------------------------
  # Hamburger menu styling
  --------------------------------------------------------------*/
/* from https://codepen.io/designcouch/pen/Atyop */

.hamburger-menu {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 5px auto 0 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.8);
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* space between buns */

.hamburger-menu span:nth-child(1) {
  top: 0px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
  top: 6px;
}

.hamburger-menu span:nth-child(4) {
  top: 12px;
}

.hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
